<app-header></app-header>

<main>
  <section>
    <app-card>
      Card 1
    </app-card>
    <app-card>
      Card 2
    </app-card>
    <app-card>
      Card 3
    </app-card>
  </section>

  <label for="darkTheme">Dark Theme</label>
  <input
    id="darkTheme"
    name="changetheme"
    type="radio"
    (change)="changeTheme('darkTheme')"
  />
  <label for="lightTheme">light Theme</label>
  <input
    id="lightTheme"
    name="changetheme"
    type="radio"
    (change)="changeTheme('lightTheme')"
  />
  <label for="cascoTheme">casco Theme</label>
  <input
    id="cascoTheme"
    name="changetheme"
    type="radio"
    (change)="changeTheme('cascoTheme')"
  />
  <label for="tealTheme">teal Theme</label>
  <input
    id="tealTheme"
    name="changetheme"
    type="radio"
    (change)="changeTheme('tealTheme')"
  />
</main>
